<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cool App</title>
</head>

<body>
  <form method="post" action="/">
    {{ form.hidden_tag() }}
    <p>Name {{ form.name(placeholder='Name') }}</p>
    <p>Start {{ form.start_date() }} {{ form.start_time() }}</p>
    <p>End {{ form.end_date() }} {{ form.end_time() }}
      {% if form.end_date.errors %}
      <ul class="errors" style="color: red;">
        {% for error in form.end_date.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    </p>
    <p>Description {{ form.description(placeholder='Description') }}</p>
    <p>Private? {{ form.private() }}</p>
    <p>{{ form.submit() }}</p>

  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
      </tr>
    </thead>
    <tbody>
      {% for appt in appts %}
      <tr>
        <td>{{ appt[0] }}</td>
        <td>{{ appt[1] }}</td>
        <td>{{ appt[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>

</html>
